build/
cmake-build-debug/

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

.idea/
.vscode/

*.log
*.tmp
*.swp
*.DS_Store

*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

*.bak
*.dmp

*.generated.*
*.auto.*
